<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play@TheCafe</title>
        <link rel="stylesheet" href="static/css/normalize.css">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    
    <body>
        <form action="{{ url_for('save') }}" method="post">
            
            <h1><img id="logo" src="static/img/logo.png" alt="logo"></h1>
            
        <fieldset>

            <label for="name">Provide your Board Game Geek Username:</label>
            <input type="text" id="name" name="user_name" value="{{ saves.get('user_name', '') }}" placeholder="Board Game Geek username">
                    
                    
            <label>Filter:</label>
                <input type="checkbox" id="owned" name="owned"><label class="light" for="owned">Owned</label><br>
                <input type="checkbox" id="pre_owned" name="pre_owned"><label class="light" for="pre_owned">Pre-owned</label><br>
                <input type="checkbox" id="play" name="play"><label class="light" for="play">Want Play</label><br>
                <input type="checkbox" id="trade" name="trade"><label class="light" for="trade">Want in Trade</label><br>
                <input type="checkbox" id="buy" name="buy"><label class="light" for="buy">Want to buy</label><br>
                <input type="checkbox" id="wish_list" name="wish_list"><label class="light" for="wish_list">Wish List</label>
        </fieldset>
            
            <button type="submit">Find it!</button>

        
        
        </form>
    </body>
    
    <footer>
        <div class="contact">    
            <ul>
                <li>
                    <a href="contact.html">
                    <img src="static/img/email.png" alt="email">
                    Contact us
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    
</html>
